  section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  
  .container {
    min-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 215px;
    margin-right: 215px;
  }
  